body
{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}
#container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.color-div {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 35px;
    border-radius: 15px;
}

#div1 { background-color: palevioletred; }
#div2 { background-color: rebeccapurple; }
#div3 { background-color: mediumseagreen; }
#div4 { background-color: goldenrod; }

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.shufflebutton {
    background-color: rgb(128, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
}
.shufflebutton:hover {
    background-color: rgb(255, 0, 0);
}

