body {
    background-color: burlywood;
}

.imageone {
    display: flex;
    flex-wrap: wrap;
}

.imageone img {
    width: 25%;
}


@media only screen and (max-width: 759px) {
    .imageone img {
        width: 50%;
    }
}


@media only screen and (max-width: 399px) {
    .imageone img {
        width: 100%;
    }
}
