.demoone{
    color: rgb(38, 0, 255);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
}
.demotwo{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demothree{
    color: rgb(172, 68, 137);;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demofour{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demofive{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demosix{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demoseven{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demoeight{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demonine{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demoten{
    color: rgb(172, 68, 137);
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}